Repository open-edge-platform/edge-manageability-framework, pull requests merged in 2025-06, with the labels that each got.

#337 Intel bmg
  design-proposals/dgpu-support.md
  design-proposals/images/BMG-driver.png
Labels: Proposal

#367 Moving OnPrem deployment to a reusable GHA
  .github/actions/deploy_on_prem/action.yaml
  .github/workflows/virtual-integration.yml
Labels: ci

#387 Run shellcheck in the root directory
  .github/workflows/virtual-integration.yml
  .shellcheckrc
  installer/await-argo.sh
  installer/configure-cluster.sh
  installer/get-argo-login.sh
  installer/initialize-gitops-repos.sh
  installer/prepare-upgrade.sh
  installer/query-git-user.sh
  installer/start-tunnel.sh
  installer/update-cluster.sh
  installer/utils.sh
  tools/deployment-cleanup.sh
  tools/iperf-web-vm-example.sh
  tools/iperf-web-vm-scale-test.sh
  tools/list-deployments-api.sh
  tools/nginx-scale-test.sh
  tools/pagination-test.sh
  tools/profiles-coverage.sh
  tools/render-apps-all-clusters.sh
  tools/render-apps.sh
  tools/scan-edges.sh
  tools/wordpress-example.sh
  tools/wordpress-scale-test.sh
Labels: installer

#392 feat(config): multiple improvements
  new-installer/README.md
  new-installer/cmd/config/form.go
  new-installer/cmd/config/form_test.go
  new-installer/cmd/config/orch_config.go
  new-installer/cmd/config/validate.go
  new-installer/cmd/config/validate_test.go
  new-installer/cmd/orch_installer.go
  new-installer/internal/config/config.go
  new-installer/internal/config/utils.go
  new-installer/internal/config/utils_test.go
  new-installer/internal/installer.go
  new-installer/internal/installer_test.go
  new-installer/targets/aws/stage.go
  new-installer/targets/aws/stage_test.go
Labels: installer

#378 PUA fix to reduce the startup time
  argocd/applications/configs/infra-onboarding.yaml
Labels: enhancement

#298 Design proposal for vPRO/AMT/ISM activation
  design-proposals/images/stack.svg
  design-proposals/vpro-device.md
Labels: Proposal, under implementation

#423 Added go linting of the new installer
  .github/workflows/new-installer.yml
  mage/new_installer.go
  new-installer/cmd/config/form.go
  new-installer/cmd/config/form_test.go
  new-installer/cmd/config/orch_config.go
  new-installer/cmd/config/validate.go
  new-installer/cmd/config/validate_test.go
  new-installer/cmd/orch_installer.go
  new-installer/internal/config/config.go
  new-installer/internal/config/utils_test.go
  new-installer/internal/installer.go
  new-installer/internal/installer_test.go
  new-installer/internal/logging.go
  new-installer/internal/steps/shell_utils_test.go
  new-installer/internal/steps/tf_utils.go
  new-installer/internal/steps/tf_utils_test.go
  new-installer/targets/aws/stage.go
  new-installer/targets/aws/stage_test.go
Labels: installer

#315 Design proposal to support vPRO/ISM/AMT in EIM core services
  design-proposals/vpro-eim.md
Labels: Proposal, under implementation

#394 feat(config): introduce non-interactive mode
  new-installer/asset/asset.go
  new-installer/asset/packages.yaml
  new-installer/cmd/config/form.go
  new-installer/cmd/config/form_test.go
  new-installer/cmd/config/orch_config.go
  new-installer/cmd/config/validate.go
  new-installer/cmd/config/validate_test.go
  new-installer/internal/config/config.go
  new-installer/internal/config/scale.go
  new-installer/internal/config/scale_test.go
Labels: installer

#407 Update UI E2E version 0.1.23
  .github/actions/cypress/action.yaml
Labels: ci

#346 feat(installer) Add AWS VPC and TF backend step
  .github/workflows/new-installer.yml
  mage/new_installer.go
  new-installer/cmd/config/validate_test.go
  new-installer/go.mod
  new-installer/go.sum
  new-installer/internal/config/config.go
  new-installer/internal/installer_test.go
  new-installer/internal/steps/aws/state_bucket.go
  new-installer/internal/steps/aws/state_bucket_test.go
  new-installer/internal/steps/aws/utils.go
  new-installer/internal/steps/aws/utils_test.go
  new-installer/internal/steps/aws/vpc.go
  new-installer/internal/steps/aws/vpc_test.go
  new-installer/internal/steps/test_utils.go
  new-installer/internal/steps/tf_utils.go
  new-installer/targets/aws/aws.go
  new-installer/targets/aws/iac/state_bucket/main.tf
  new-installer/targets/aws/iac/state_bucket/provider.tf
  new-installer/targets/aws/iac/state_bucket/state_bucket_test.go
  new-installer/targets/aws/iac/state_bucket/variable.tf
  new-installer/targets/aws/iac/utils/utils.go
  new-installer/targets/aws/iac/vpc/jumphost.tf
  new-installer/targets/aws/iac/vpc/output.tf
  new-installer/targets/aws/iac/vpc/vpc_test.go
Labels: installer

#426 Create reusable GHA to deploy KIND
  .github/actions/deploy_kind/action.yaml
  .github/workflows/virtual-integration.yml
Labels: ci

#380 New installer - AWS observability buckets step
  new-installer/internal/steps/aws/observability_bucket.go
  new-installer/internal/steps/aws/observability_bucket_test.go
  new-installer/targets/aws/aws.go
  new-installer/targets/aws/iac/o11y_buckets/main.tf
  new-installer/targets/aws/iac/o11y_buckets/o11y_buckets_test.go
  new-installer/targets/aws/iac/o11y_buckets/terraform.tf
  new-installer/targets/aws/iac/o11y_buckets/variable.tf
Labels: FEATURE, installer

#433 feat: detect lost connection to cluster
  argocd/applications/templates/cluster-connect-gateway.yaml
  argocd/applications/templates/cluster-manager.yaml
  argocd/applications/templates/intel-infra-provider.yaml
Labels: FEATURE

#429 New installer - AWS Infra Stage - KMS step
  new-installer/go.mod
  new-installer/internal/steps/aws/kms.go
  new-installer/internal/steps/aws/kms_test.go
  new-installer/targets/aws/aws.go
  new-installer/targets/aws/iac/kms/kms_test.go
  new-installer/targets/aws/iac/kms/output.tf
Labels: FEATURE, installer

#365 Design proposal for Device Management RM and Remote Power Management
  design-proposals/images/eim-dmt.svg
  design-proposals/vpro-rm.md
Labels: Proposal, under implementation

#275 Custom configuration design proposal
  design-proposals/design-proposal-custom-config.md
  design-proposals/images/cloud-init.png
Labels: Proposal

#425 Add AWS cert import step
  new-installer/internal/config/config.go
  new-installer/internal/installer_test.go
  new-installer/internal/steps/aws/acm_import.go
  new-installer/internal/steps/aws/acm_import_test.go
  new-installer/internal/steps/aws/utils.go
  new-installer/targets/aws/iac/acm/acm_test.go
  new-installer/targets/aws/iac/acm/output.tf
Labels: installer

#309 design: PXE-based provisioning with managed EMF
  design-proposals/eim-pxe-with-managed-emf.md
  design-proposals/images/eim-pxe-with-managed-emf.png
Labels: Proposal

#435 Update the targetRevision of an Alerting monitor
  argocd/applications/templates/alerting-monitor.yaml
Labels: component-update

#273 docs: add design poposal for integrating Kubernetes into EMT
  design-proposals/cluster-orch-integrating-k8s-into-emt.md
Labels: Proposal

#465 Add missing license file to acm_test.go
  new-installer/targets/aws/iac/acm/acm_test.go
Labels: installer

#469 fix(config): support single hostname, with or without leading dot (localhost, .svc) in no proxy
  new-installer/cmd/config/validate.go
  new-installer/cmd/config/validate_test.go
Labels: installer

#468 add label based trigger to run installer tests
  .github/workflows/new-installer-iac-test.yml
Labels: installer, run-iac-tests

#470 Fix config builder validation issues in new installer
  new-installer/cmd/config/form.go
  new-installer/cmd/config/form_test.go
  new-installer/cmd/config/validate.go
  new-installer/cmd/config/validate_test.go
Labels: installer

#475 clean up sample apps mage targets
  e2e-tests/orchestrator/app_catalog_test.go
  e2e-tests/samples/00-common/registry-bitnami.yaml
  e2e-tests/samples/10-applications/app-nginx-0.1.0.yaml
  e2e-tests/samples/10-applications/app-nginx-0.1.1.yaml
  e2e-tests/samples/10-applications/app-wordpress-0.1.0.yaml
  e2e-tests/samples/10-applications/app-wordpress-0.1.1.yaml
  mage/Magefile.go
  mage/app.go
Labels: DO NOT MERGE

#484 Add onprem rke2 installation step
  new-installer/go.mod
  new-installer/go.sum
  new-installer/internal/config/config.go
  new-installer/internal/steps/onprem/artifact_downloader.go
  new-installer/internal/steps/onprem/rke2.go
  new-installer/targets/onprem/onprem.go
Labels: installer

#490 Argo installer
  go.mod
  go.sum
  new-installer/go.mod
  new-installer/go.sum
  new-installer/internal/steps/common/argocd_setup.go
  new-installer/internal/steps/common/utils.go
  new-installer/targets/onprem/onprem.go
Labels: installer

#486 Update OSProfile versions to v0.6.2
  argocd/applications/configs/infra-managers.yaml
Labels: component-update

#493 chore: bump infra-core to v2.15.0 and infra-external to v2.5.1
  .github/actions/deploy_kind/action.yaml
  argocd/applications/templates/infra-core.yaml
  argocd/applications/templates/infra-external.yaml
  argocd/applications/templates/infra-managers.yaml
Labels: component-update
